* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: #e5eaf3;
}

main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.signup-card {
    display: flex;
    width: fit-content;
    flex-direction: column;
    border: 1px black solid;
    border-radius: 10%;
    padding: 40px 24px 24px 24px;
    background-color: white;
    box-shadow: 0 8px 24px rgba(0,0,0,0.1);
}

.signup {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.signup-fields {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.input-pair {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.signup input {
    width:100%;
    padding: 0.4em;
    border: 1px solid #d1d5db;
    /* background-color: #f0f3f8; */
}

.signup input:focus {
    border: 1px solid #171717;
}

.signup button {
    width: 100%;
    padding: 0.4em 0;
    background-color: #171717;
    color: white;
    border: none;
}

.signup button:hover {
    background-color: #2b2929;
}

.signup a {
    color: #2b2929;
}

.signup a:hover {
    color: #171717
}


